Repository chainflip-io/chainflip-backend: changes, and which Drone steps are due for each by the changed paths.
All: chainflip-state-chain-pr, build-base-images, ci-checks

.drone.yml:

kind: pipeline
type: docker
name: chainflip-state-chain-pr

steps:
# <<<<<<<<<<<<<<<<<<<<<<<<<<<<< pull_request >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
# Pull request check and build
  - name: check-state-chain-dev
    image: chainflip.jfrog.io/chainflip-backend/rust-base:latest
    environment:
      SCCACHE_DIR: /cache
    commands:
      - SKIP_WASM_BUILD=1 cargo check --release
      - sccache -s
    volumes:
      - name: cache
        path: /cache
  - name: compile-state-chain-dev
    image: chainflip.jfrog.io/chainflip-backend/rust-base:latest
    environment:
      SCCACHE_DIR: /cache
    commands:
      - cargo build --release
      - sccache -s
    volumes:
      - name: cache
        path: /cache

# Config
trigger:
  event:
    - pull_request
  paths:
    - state-chain/*
node:
  builder: "true"
volumes:
  - name: cache
    host:
      path: /mnt/chainflip-build-runner/sccache
image_pull_secrets:
  - dockerconfigjson

---

kind: pipeline
type: docker
name: chainflip-state-chain

# <<<<<<<<<<<<<<<<<<<<<<<<<<<<< main >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
# Merge to master build and publish
steps:
  - name: compile-state-chain
    image: chainflip.jfrog.io/chainflip-backend/rust-base:latest
    environment:
      SCCACHE_DIR: /cache
    commands:
      - cargo build --release -Zmultitarget --target x86_64-apple-darwin --target wasm32-unknown-unknown
      - sccache -s
    volumes:
      - name: cache
        path: /cache
  - name: publish-state-chain-node
    image: docker.bintray.io/jfrog/jfrog-cli-go:latest
    environment:
      access_token:
        from_secret: jfrog_access_token
      url:
        from_secret: jfrog_artifactory_url
    commands:
      - jfrog rt u --access-token $access_token --url $url ./target/x86_64-apple-darwin/release/state-chain-node state-chain-node/x86_64-apple-darwin_state-chain-node
      - jfrog rt u --access-token $access_token --url $url ./target/wasm32-unknown-unknown/release/state-chain-node state-chain-node/wasm32-unknown-unknown_state-chain-node

# Config
trigger:
  branch:
    - main
  event:
    - push
node:
  builder: "true"
volumes:
  - name: cache
    host:
      path: /mnt/chainflip-build-runner/sccache
image_pull_secrets:
  - dockerconfigjson

---
# Build the base rust image for compiling all rust projects.
kind: pipeline
type: docker
name: build-base-images

steps:
  - name: rust-base
    image: plugins/docker
    settings:
      username:
        from_secret: docker_username
      password:
        from_secret: docker_password
      repo: chainflip.jfrog.io/chainflip-backend/rust-base
      dockerfile: Dockerfile.rust-base
      registry: chainflip.jfrog.io
      tags: latest
      cache_from: chainflip.jfrog.io/chainflip-backend/rust-base:latest

# Config
trigger:
  paths:
    - Dockerfile.rust-base
node:
  builder: "true"
volumes:
  - name: cache
    host:
      path: /mnt/chainflip-build-runner/sccache
image_pull_secrets:
  - dockerconfigjson

---
# Run checks on infrastructure configuration prior to merge.
kind: pipeline
name: ci-checks
type: docker

steps:
  - name: lint-drone-yml
    pull: always
    image: chainflip.jfrog.io/infrastructure/chainflip-master:latest
    commands:
      - drone lint --trusted


trigger:
  event:
    exclude:
      - pull_request
  paths:
    - .drone.yml
    - Dockerfile.rust-base

image_pull_secrets:
  - dockerconfigjson

Fix events
  .drone.yml
Due: ci-checks

Remove volume and node refs from rust base
  .drone.yml
Due: ci-checks

More tests.
  state-chain/pallets/cf-staking/src/tests.rs
Due: none

Set target to linux
  .drone.yml
Due: ci-checks

Add musl
  Dockerfile.rust-base
Due: build-base-images, ci-checks

Add gnu
  .drone.yml
  Dockerfile.rust-base
Due: build-base-images, ci-checks

Trait to provide validator candidates
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
Due: none

Quick rename
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
Due: none

logging crate
  Cargo.lock
  state-chain/pallets/cf-validator/Cargo.toml
Due: none

boilerplate for session management
  state-chain/pallets/cf-validator/src/lib.rs
Due: none

change base image
  Dockerfile.rust-base
Due: build-base-images, ci-checks

Go back to github
  .drone.yml
Due: ci-checks

Fix registry
  .drone.yml
Due: ci-checks

Initial pallet outline based on node template.
  Cargo.lock
  state-chain/pallets/cf-witness/Cargo.toml
  state-chain/pallets/cf-witness/README.md
  state-chain/pallets/cf-witness/src/lib.rs
  state-chain/pallets/cf-witness/src/mock.rs
  state-chain/pallets/cf-witness/src/tests.rs
Due: none

Convert all indentation to tabs (parity style)
  state-chain/pallets/cf-staking/src/lib.rs
  state-chain/pallets/cf-staking/src/tests.rs
Due: none

Update README
  state-chain/pallets/cf-staking/README.md
Due: none

Add basic unverified `post_claim_signature` extrinsic.
  state-chain/pallets/cf-staking/src/lib.rs
  state-chain/pallets/cf-staking/src/mock.rs
  state-chain/pallets/cf-staking/src/tests.rs
Due: none

Add a list of future improvements to the README.
  state-chain/pallets/cf-staking/README.md
Due: none

Captilise the names
  state-chain/pallets/cf-validator/src/mock.rs
Due: none

CHnage pipeline to build darwin and linux seperately
  .drone.yml
Due: ci-checks

return a tokio receiver on subscribe
  .gitignore
  .vscode/settings.json
  Cargo.lock
  engine/Cargo.toml
  engine/src/mq/mq.rs
  engine/src/mq/nats_client.rs
Due: none

Correct terminology, we are just talking sessions here
  state-chain/pallets/cf-validator/README.md
  state-chain/pallets/cf-validator/src/tests.rs
Due: none

Notify on session status
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/mock.rs
Due: none

Check validators returned
  state-chain/pallets/cf-validator/src/tests.rs
Due: none

timemachine for mock
  state-chain/pallets/cf-validator/Cargo.toml
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
Due: none

just add sccache
  Dockerfile.rust-base
Due: build-base-images, ci-checks

Include session in mock and move blocks along
  state-chain/pallets/cf-validator/src/mock.rs
Due: none

Revert and just compile using nightly
  .drone.yml
  Dockerfile.rust-base
Due: build-base-images, ci-checks

Use a sessionindex type
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/mock.rs
Due: none

Confirm epoch is causing a session to rotate
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
Due: none

Duplication removed as in SessionHandler trait
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
Due: none

Generalise over a ValidatorId rather than AccountId
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/mock.rs
Due: none

Validate we have sessions moving along
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
Due: none

Cargo deb
  .drone.yml
  Dockerfile.rust-base
  engine/Cargo.toml
  state-chain/node/Cargo.toml
Due: build-base-images, ci-checks

remove deps
  .drone.yml
Due: ci-checks

add package to state-chain-node
  .drone.yml
Due: ci-checks

ansible test
  .drone.yml
  ansible/upload/playbook.yml
  state-chain/node/Cargo.toml
Due: ci-checks

ansible test
  ansible/upload/inventory
  ansible/upload/playbook.yml
Due: none

provide inventory
  .drone.yml
Due: ci-checks
