Repository chainflip-io/chainflip-backend: changes, and which Drone steps are due for each by the changed paths.
All: chainflip-state-chain-pr, build-base-images, ci-checks

.drone.yml:

kind: pipeline
type: docker
name: chainflip-state-chain-pr

steps:
# <<<<<<<<<<<<<<<<<<<<<<<<<<<<< pull_request >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
# Pull request check and build
  - name: check-state-chain-dev
    image: ghcr.io/chainflip-io/chainflip-backend/rust-base:latest
    environment:
      SCCACHE_DIR: /cache
    commands:
      - SKIP_WASM_BUILD=1 cargo check --release
      - sccache -s
    volumes:
      - name: cache
        path: /cache
  - name: compile-state-chain-dev
    image: ghcr.io/chainflip-io/chainflip-backend/rust-base:latest
    environment:
      SCCACHE_DIR: /cache
    commands:
      - cargo build --release
      - sccache -s
    volumes:
      - name: cache
        path: /cache

# Config
trigger:
  event:
    - pull_request
  paths:
    - state-chain/*
node:
  builder: "true"
volumes:
  - name: cache
    host:
      path: /mnt/chainflip-build-runner/sccache
image_pull_secrets:
  - dockerconfigjson

---

kind: pipeline
type: docker
name: chainflip-state-chain

# <<<<<<<<<<<<<<<<<<<<<<<<<<<<< main >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
# Merge to master build and publish
steps:
  - name: compile-state-chain-linux
    image: ghcr.io/chainflip-io/chainflip-backend/rust-base:latest
    environment:
      SCCACHE_DIR: /cache
    commands:
      - cargo build --release --target x86_64-unknown-linux-musl
      - sccache -s
    volumes:
      - name: cache
        path: /cache
  - name: compile-state-chain-darwin
    image: ghcr.io/chainflip-io/chainflip-backend/rust-base:latest
    environment:
      SCCACHE_DIR: /cache
    commands:
      - cargo build --release --target x86_64-apple-darwin
      - sccache -s
    volumes:
      - name: cache
        path: /cache
depends_on:
  - compile-state-chain-linux
  - compile-state-chain-darwin
  # Config
trigger:
#  branch:
#    - main
  event:
    - push
node:
  builder: "true"
volumes:
  - name: cache
    host:
      path: /mnt/chainflip-build-runner/sccache
image_pull_secrets:
  - dockerconfigjson

---
# Build the base rust image for compiling all rust projects.
kind: pipeline
type: docker
name: build-base-images

steps:
  - name: rust-base
    image: plugins/docker
    settings:
      username:
        from_secret: docker_username
      password:
        from_secret: docker_password
      repo: ghcr.io/chainflip-io/chainflip-backend/rust-base
      dockerfile: Dockerfile.rust-base
      registry: ghcr.io
      tags: latest
      cache_from: ghcr.io/chainflip-io/chainflip-backend/rust-base:latest

# Config
trigger:
  event:
    - pull_request
  paths:
    - Dockerfile.rust-base
image_pull_secrets:
  - dockerconfigjson

---
# Run checks on infrastructure configuration prior to merge.
kind: pipeline
name: ci-checks
type: docker

steps:
  - name: lint-drone-yml
    pull: always
    image: ghcr.io/chainflip-io/infrastructure/chainflip-master:latest
    commands:
      - drone lint --trusted

trigger:
  event:
    exclude:
      - pull_request
  paths:
    - .drone.yml
    - Dockerfile.rust-base

image_pull_secrets:
  - dockerconfigjson

Full run
  .drone.yml
  ansible/upload/playbook.yml
Due: ci-checks

Change output to root
  .ansible/upload/inventory
  .ansible/upload/playbook.yml
  .drone.yml
  ansible/upload/playbook.yml
Due: ci-checks

don't install
  .drone.yml
Due: ci-checks

Fix step
  .drone.yml
Due: ci-checks

Add some comments to outline functionality
  state-chain/pallets/cf-witness/src/lib.rs
Due: none

Fix step
  .ansible/upload/playbook.yml
  .drone.yml
Due: ci-checks

Fix folder
  .drone.yml
Due: ci-checks

Try ansible on it's own
  .ansible/upload/playbook.yml
  .drone.yml
Due: ci-checks

stream works for subscribe
  .vscode/settings.json
  Cargo.lock
  engine/Cargo.toml
  engine/src/mq/mod.rs
  engine/src/mq/mq.rs
  engine/src/mq/nats_client.rs
Due: none

remove box from message
  engine/src/mq/mq.rs
Due: none

unsafe wrapped in method, use String instead of static str for Options
  Cargo.lock
  engine/Cargo.toml
  engine/src/mq/mq.rs
  engine/src/mq/nats_client.rs
Due: none

test with nats test server
  engine/src/mq/nats_client.rs
Due: none

remove unsafe block, in favour of stable into Pin
  engine/src/mq/mq.rs
  engine/src/mq/nats_client.rs
Due: none

Rename accordingly as we want validator candidates
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/mock.rs
Due: none

Run an auction for the candidates
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
Due: none

Force a rotation
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/tests.rs
Due: none

Implement SessionHandler in pallet providing the trait ValidatorHandler
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/mock.rs
Due: none

Push back session test
  state-chain/pallets/cf-validator/src/tests.rs
Due: none

Check we can limit the validator set
  state-chain/pallets/cf-validator/src/tests.rs
Due: none

Document the tests a little
  state-chain/pallets/cf-validator/src/tests.rs
Due: none

CLear up imports
  state-chain/pallets/cf-validator/src/mock.rs
Due: none

Check events
  state-chain/pallets/cf-validator/src/tests.rs
Due: none

compile to wasm
  .ansible/upload/files/test-maria-2.deb
  .ansible/upload/playbook.yml
  .drone.yml
Due: ci-checks

compile to gnu
  .drone.yml
  Dockerfile.rust-base
Due: build-base-images, ci-checks

compile to gnu
  Dockerfile.rust-base
Due: build-base-images, ci-checks

address PR comments, add Subject enum
  engine/Cargo.toml
  engine/src/mq/mq.rs
  engine/src/mq/nats_client.rs
Due: none

revert errors
  Cargo.lock
  engine/src/mq/mq.rs
  engine/src/mq/nats_client.rs
Due: none

No target
  .ansible/upload/playbook.yml
  .drone.yml
Due: ci-checks

No target
  .drone.yml
  Dockerfile.rust-base
Due: build-base-images, ci-checks

Revert to just normal buildsg
  .ansible/upload/playbook.yml
  .drone.yml
Due: ci-checks

Add terraform and ansible code for provisioning state-chain
  .ansible/staging/playbook.yml
  .gitignore
  .terraform/network.tf
  .terraform/provider.tf
  .terraform/server.tf
  .terraform/ssh.tf
  .terraform/state/state.tf
  .terraform/state/state_resources.tf
Due: none

Add terraform and ansible code for provisioning state-chain
  .ansible/staging/inventory
  .terraform/state/terraform.tfstate
  .terraform/versions.tf
Due: none

Test out build
  .drone.yml
Due: ci-checks

remove cargo deb
  Dockerfile.rust-base
Due: build-base-images, ci-checks

Fix remove var
  .ansible/staging/playbook.yml
Due: none

Put back deps
  Dockerfile.rust-base
Due: build-base-images, ci-checks

Polish off ci
  .ansible/staging/playbook.yml
  .drone.yml
Due: ci-checks

Changes to release sandstorm
  .drone.yml
Due: ci-checks

mock init
  engine/Cargo.toml
  engine/src/mq/mod.rs
  engine/src/mq/mq.rs
  engine/src/mq/mq_mock.rs
Due: none

WIP use ser and deser traits for message
  engine/src/mq/mq.rs
  engine/src/mq/nats_client.rs
Due: none
